<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Edit username</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
    

	<h2>You are about to edit this user Username: <%= user.email %></h2>

		
	<form  method="post" action="/user/<%= user.id %>?_method=PATCH">

		<p>Username :</p>
		<textarea name="name" id="" cols="30" rows="10"> <%= user.name %></textarea>
		<br>
		<p>Password:</p>
		<br>
		<input type="password" name="password" placeholder="Enter Password">
		
		<button type="submit"> Submit </button>
	</form>
</body>
</html>

